<h1> <i class="far fa-edit"></i> Editar Programa</h1>
<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
     <div class="form-group">
<label class="col-md-4">Nombre</label>
<input type="text" class="form-control" formControlName="nombre" #nombre [(ngModel)] = "programa.nombre"/>
</div>
<div *ngIf="angForm.controls['nombre'].invalid && (angForm.controls['nombre'].dirty || angForm.controls['nombre'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['nombre'].errors.required">
Nombre es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Facultad</label>
<select class="form-control" formControlName="facultad" #facultad >
<option  [value]="facultad._id" *ngFor="let facultad of Facultad" >{{facultad.nombre}}</option>
</select>
</div>
<div *ngIf="angForm.controls['facultad'].invalid && (angForm.controls['facultad'].dirty || angForm.controls['facultad'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['facultad'].errors.required">
Facultad es requerido.
</div>
</div>
<div class="form-group">
    <button (click)="updatePrograma(nombre.value, facultad.value)"
    [disabled]="angForm.pristine || angForm.invalid"
    class="btn btn-primary"> Programa</button>
  </div>

    </form>
  </div>
</div>